name: pyralight

namespace: pyralight
env:
  APP_VERSION: f08c32ac0d070137a88e70ce6c76c34afd82047f

deployment:
  - name: pyralight
    image: invisibug/pyralight

service:
  loadBalancer:
    - name: pyralight-co-uk
      selector: pyralight
      port: 80
      containerPort: 80

ingress:
  - name: pyralight-co-uk
    selector: pyralight
    path: /
    port: 80
    host: pyralight.co.uk
